.home-bird {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-bird .overlap-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  width: 1920px;
  height: 1080px;
}

.home-bird .overlap {
  position: relative;
  height: 1080px;
  background-image: url(./img/homepage2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home-bird .rectangle {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.home-bird .text-wrapper {
  position: absolute;
  top: 41px;
  left: 57px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 4.8px;
  line-height: 74.6px;
  white-space: nowrap;
}

.home-bird .div {
  position: absolute;
  top: 88px;
  left: 876px;
  opacity: 0.88;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-bird .rectangle-2 {
  position: absolute;
  width: 353px;
  height: 1080px;
  top: 0;
  left: 1027px;
  background-color: #681818;
}

.home-bird .text-wrapper-2 {
  position: absolute;
  top: 961px;
  left: 129px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home-bird .text-wrapper-3 {
  position: absolute;
  top: 961px;
  left: 644px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home-bird .p {
  position: absolute;
  top: 961px;
  left: 1670px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home-bird .text-wrapper-4 {
  position: absolute;
  width: 117px;
  top: 88px;
  left: 1021px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-bird .text-wrapper-5 {
  position: absolute;
  width: 243px;
  top: 88px;
  left: 1204px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-bird .text-wrapper-6 {
  position: absolute;
  width: 241px;
  top: 88px;
  left: 1420px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-bird .line {
  width: 675px;
  left: 105px;
  position: absolute;
  height: 1px;
  top: 902px;
  object-fit: cover;
}

.home-bird .img {
  width: 432px;
  left: 1380px;
  position: absolute;
  height: 1px;
  top: 902px;
  object-fit: cover;
}

.home-bird .p-o-s-t-a-d {
  position: absolute;
  width: 171px;
  top: 88px;
  left: 1601px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-bird .text-wrapper-7 {
  position: absolute;
  top: 607px;
  left: 1135px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: normal;
  white-space: nowrap;
}

.home-bird .when-you-pet-a-bird {
  position: absolute;
  width: 386px;
  top: 676px;
  left: 1011px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
}

.home-bird .span {
  color: #000000;
}

.home-bird .text-wrapper-8 {
  position: absolute;
  top: 84px;
  left: 876px;
  opacity: 0.88;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-bird .group {
  position: absolute;
  width: 135px;
  height: 134px;
  top: 801px;
  left: 1130px;
}

.home-bird .overlap-group {
  position: relative;
  width: 134px;
  height: 134px;
}

.home-bird .rectangle-3 {
  position: absolute;
  width: 94px;
  height: 94px;
  top: 20px;
  left: 20px;
  background-color: #d9d9d9;
  transform: rotate(44.17deg);
}

.home-bird .text-wrapper-9 {
  position: absolute;
  width: 109px;
  top: 56px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: #681818;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
}

.home-bird .p-e-t-r-e-n-t-a-l {
  position: absolute;
  width: 227px;
  top: 116px;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
