.fish {
  background-color: #d6d6d6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.fish .overlap-wrapper {
  background-color: #d6d6d6;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}

.fish .overlap {
  position: relative;
  height: 1272px;
}

.fish .image {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.fish .rectangle {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.fish .text-wrapper {
  position: absolute;
  top: 222px;
  left: 535px;
  font-family: "Playfair Display SC", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .div {
  position: absolute;
  width: 899px;
  top: 290px;
  left: 535px;
  font-family: "Playfair Display SC", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .component {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 416px;
  left: 528px;
  background-color: #ddb322;
}

.fish .overlap-group {
  position: relative;
  height: 419px;
  background-color: #ffffff;
  border-radius: 10px;
}

.fish .div-wrapper {
  position: absolute;
  width: 108px;
  height: 20px;
  top: 365px;
  left: 27px;
  background-color: #2987f5;
  border-radius: 5px;
}

.fish .text-wrapper-2 {
  position: absolute;
  width: 47px;
  top: 2px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .overlap-group-2 {
  position: absolute;
  width: 108px;
  height: 20px;
  top: 365px;
  left: 166px;
  border-radius: 5px;
}

.fish .rectangle-2 {
  position: absolute;
  width: 108px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #2987f5;
  border-radius: 5px;
}

.fish .text-wrapper-3 {
  position: absolute;
  width: 67px;
  top: 2px;
  left: 23px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .img {
  position: absolute;
  width: 257px;
  height: 157px;
  top: 15px;
  left: 22px;
  object-fit: cover;
}

.fish .text-wrapper-4 {
  position: absolute;
  width: 61px;
  top: 306px;
  left: 44px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .text-wrapper-5 {
  position: absolute;
  width: 30px;
  top: 309px;
  left: 204px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .charlie-golden {
  position: absolute;
  width: 253px;
  top: 193px;
  left: 23px;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .span {
  color: #2987f5;
}

.fish .text-wrapper-6 {
  color: #000000;
  font-size: 12px;
}

.fish .icon-pin-alt {
  position: absolute;
  width: 25px;
  height: 31px;
  top: 274px;
  left: 63px;
}

.fish .overlap-group-3 {
  position: absolute;
  width: 41px;
  height: 33px;
  top: 275px;
  left: 198px;
}

.fish .icon-male {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.fish .icon-female {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 6px;
  left: 14px;
}

.fish .overlap-group-wrapper {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 414px;
  left: 846px;
  background-color: #ddb322;
}

.fish .component-2 {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 853px;
  left: 528px;
  background-color: #ddb322;
}

.fish .overlap-2 {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.fish .icon-pin-alt-2 {
  left: -4786px;
  position: absolute;
  width: 22px;
  height: 28px;
  top: -22268px;
}

.fish .icon-male-2 {
  left: -4652px;
  position: absolute;
  width: 21px;
  height: 21px;
  top: -22268px;
}

.fish .icon-female-2 {
  left: -4623px;
  position: absolute;
  width: 15px;
  height: 23px;
  top: -22263px;
}

.fish .component-3 {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 853px;
  left: 846px;
  background-color: #ddb322;
}

.fish .icon-pin-alt-3 {
  left: -5104px;
  position: absolute;
  width: 22px;
  height: 28px;
  top: -22268px;
}

.fish .icon-male-3 {
  left: -4970px;
  position: absolute;
  width: 21px;
  height: 21px;
  top: -22268px;
}

.fish .icon-female-3 {
  left: -4941px;
  position: absolute;
  width: 15px;
  height: 23px;
  top: -22263px;
}

.fish .component-4 {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 414px;
  left: 1164px;
  background-color: #ddb322;
}

.fish .component-5 {
  position: absolute;
  width: 298px;
  height: 419px;
  top: 414px;
  left: 1482px;
  background-color: #ddb322;
}

.fish .component-6 {
  position: absolute;
  width: 254px;
  height: 380px;
  top: 315px;
  left: 184px;
}

.fish .overlap-3 {
  position: relative;
  height: 672px;
}

.fish .rectangle-3 {
  position: absolute;
  width: 227px;
  height: 146px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}

.fish .sort-by-price-low-to {
  position: absolute;
  width: 218px;
  top: 11px;
  left: 36px;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .rectangle-4 {
  position: absolute;
  width: 227px;
  height: 395px;
  top: 261px;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

.fish .budget {
  position: absolute;
  width: 204px;
  top: 272px;
  left: 36px;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .rectangle-5 {
  position: absolute;
  width: 227px;
  height: 115px;
  top: 146px;
  left: 0;
  background-color: #ffffff;
}

.fish .gender-male-female {
  position: absolute;
  width: 218px;
  top: 156px;
  left: 36px;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.fish .ellipse {
  top: 371px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-2 {
  top: 391px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-3 {
  top: 411px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-4 {
  top: 431px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-5 {
  top: 516px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-6 {
  top: 536px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-7 {
  top: 556px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-8 {
  top: 632px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-9 {
  top: 652px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-10 {
  top: 672px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-11 {
  top: 752px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-12 {
  top: 772px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-13 {
  top: 792px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-14 {
  top: 892px;
  left: 201px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-15 {
  top: 912px;
  left: 201px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-16 {
  top: 932px;
  left: 201px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-wrapper {
  top: 812px;
  left: 198px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.fish .ellipse-17 {
  position: relative;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  background-color: #2987f5;
  border-radius: 3px;
}

.fish .component-7 {
  position: absolute;
  width: 1712px;
  height: 105px;
  top: 42px;
  left: 57px;
}

.fish .text-wrapper-7 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 4.8px;
  line-height: 74.6px;
  white-space: nowrap;
}

.text-wrapper-8 {
  position: absolute;
  border-radius: 15px;
  padding:15px;
  top: 39px;
  left: 876px;
  opacity: 0.88;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.text-wrapper-8:hover{
  background-color: #000000;
}

.p {
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  width: 150px;
  top: 39px;
  left: 1021px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.p:hover{background-color: #000000;}

.text-wrapper-9 {
  position: absolute;
  width: 200px;
  top: 39px;
  left: 1204px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 15px;
  border-radius: 15px;
}
.text-wrapper-9:hover{
  background-color: #000000;
}

.text-wrapper-10 {
  position: absolute;
  width: 150px;
  top: 39px;
  left: 1420px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding: 15px;
  border-radius: 15px;

}
.text-wrapper-10:hover{
  background-color: #000000;
}

 .p-o-s-t-a-d {
  position: absolute;
  width: 150px;
  top: 39px;
  left: 1601px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  padding:15px ;
  border-radius: 15px;
}
.p-o-s-t-a-d:hover {background-color: #000000;}

.fish .p-e-t-r-e-n-t-a-l {
  position: absolute;
  width: 227px;
  top: 74px;
  left: 63px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
